:root {
  --primary-bg-color: #f4f4f4;
  --text-color: hsl(0, 1%, 68%);
  --main-bg-color: #333;
  --main-text-color: #787878;
}

body,
h1,
h2,
h3 p,
ul {
  margin: 0;
  padding: 0;
}

/* Custom Font */
h1 {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #ffffff;
  margin-top: 20px;
}

h2 {
  font-family: "Alfa Slab One", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
  color: #ffffff;
  margin-top: 10px;
}

h3 {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
  margin-top: 10px;
}

body {
  background-image: linear-gradient(
    to right bottom,
    #4a0930,
    #380f31,
    #28122d,
    #1a1125,
    #0f0d1b,
    #0c0c19,
    #090c18,
    #070b16,
    #0c101f,
    #0e1527,
    #101830,
    #131b39
  );
  color: var(--text-color);
  font-family: "Gentium Book Plus", serif;
  line-height: 1.6;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.logo {
  margin: 20px;
  width: 1170px;
}

.bgPhoto {
  position: absolute;
  margin-left: 80%;
  margin-top: 30%;
  width: 1000px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  overflow: hidden; /* clip the image */
  bottom: 0;
}

.bgPhoto img {
  width: 80%;
  height: auto;
  margin-right: -40%;
  margin-bottom: -100px;
}

/* Add additional styles as needed */

/* Create a container for the main content */
.main-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.container {
  position: relative;
  width: 800px;
}

/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

/* Media player styling */
.media-player {
  width: 100%;
  display: ruby-text;
  margin: 0 auto;
}

.media-player video {
  position: relative;
  width: 100%;
  height: 450px;
  border-radius: 20px;
}

.custom-controls {
  height: 40px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-top: -10px;
  background: rgba(255, 255, 255, 0.268);
  box-shadow: 0 10px 20px rgba(27, 26, 27, 0.446);
  border: 0.5px solid rgba(157, 137, 137, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  z-index: 10;
  padding: 20px;
  backdrop-filter: blur(2px);
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 5px;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
}

.left-buttons {
  display: flex;
}

.right-buttons {
  display: flex;
}

.progress-bar {
  width: 300px;
  height: 5px;
  background-color: #d7d7d79b;
  margin-top: 2px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

/* side nav style setting */
aside {
  flex-grow: 1;
}

.box {
  position: relative;
  min-width: 350px;
  min-height: 447.5;
  background: rgba(83, 72, 72, 0.325);
  box-shadow: 0 25px 45px rgba(141, 94, 111, 0.446);
  border: 0.5px solid rgba(157, 137, 137, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  z-index: 10;
  padding: 20px;
  backdrop-filter: blur(10px);
}

.box h3 {
  color: #efefef;
  margin-bottom: 10px;
  margin-top: -10px;
}

.box .list {
  position: relative;
  display: flex;
  padding: 10px 0;
  background: rgba(174, 173, 174, 0.355);
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
}

.box .list.active {
  background: rebeccapurple;
}

.box .list:hover {
  background: #fff;
  box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5);
  transform: scale(1) translateX(10px) translateY(-10px);
}

.box .list .imgBox {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin: 0 10px;
}

.box .list .imgBox img {
  position: absolute;
  top: 0;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box .list .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box .list .content .rank {
  position: absolute;
  right: -50px;
  color: cadetblue;
  transition: 0.5s;
  font-size: 2em;
}

.box .list .content .rank small {
  font-weight: 500;
  opacity: 0.25;
}

.box .list:hover .content .rank {
  right: 20px;
}

.box .list .content h4 {
  line-height: 1.2em;
  font-weight: 600;
  transform: 0.5s;
}

.box .list .content p {
  font-size: 0.75em;
  transform: 0.5s;
}

.box .list:hover .content h3,
.box .list:hover .content p {
  color: #333;
}

/* Responsive Design */
@media screen and (max-width: 1169px) {
  .logo {
    width: 100%;
    padding: 0 20px;
  }
  .main-container {
    width: 100%;
    padding: 0 20px;
  }

  .container {
    width: 100%;
  }

  .media-player video {
    height: auto;
  }

  aside {
    width: 100%;
  }

  aside .box {
    width: 100%;
    min-width: auto;
  }

  .custom-controls {
    width: 100%;
    max-width: 500px;
  }
}
